# Put me in /lib/systemd/system/
[Unit]
Description=Raspberry Pi dashboard that mimics the style of old BIOS designs.
After=network-online.target
Wants=network-online.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=piotrpdev
WorkingDirectory=/var/log/rspi-bios/
ExecStart=/usr/local/bin/rspi-bios 443
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
