<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Raspberry Pi BIOS</title>
        <meta name="description" content="Raspberry Pi status dashboard" />

        <meta property="og:title" content="Raspberry Pi BIOS" />
        <meta
            property="og:description"
            content="Raspberry Pi status dashboard"
        />
        <meta property="og:type" content="website" />

        <link rel="preconnect" href="https://upload.wikimedia.org/" />
        <link rel="preconnect" href="https://cdn.jsdelivr.net/" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="https://upload.wikimedia.org/wikipedia/fr/3/3b/Raspberry_Pi_logo.svg"
        />
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/npm/tuicss@2.1.2/dist/images/bg-blue-black.png"
            as="image"
        />
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/npm/tuicss@2.1.2/examples/resources/pcstartup1.png"
            as="image"
        />
        <link
            rel="preload"
            href="https://cdn.jsdelivr.net/npm/tuicss@2.1.2/examples/resources/pcstartup2.png"
            as="image"
        />
        <script src="https://cdn.jsdelivr.net/npm/tuicss@2.1.2/dist/tuicss.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/tuicss@2.1.2/dist/tuicss.min.css"
        />
        <style>
            body {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .scandisk-button {
                background-color: rgb(80, 80, 80);
                color: rgb(168, 168, 168);
                margin-right: 20px;
            }
            #boot-table tbody tr td {
                border-right: 0;
            }
            #boot-table tbody tr td {
                padding-left: 12px;
            }
            #boot-table tbody tr:nth-child(3) {
                border-bottom: 1px solid white;
            }
            #boot-table tbody tr:nth-child(3) td {
                padding-bottom: 10px;
            }
            #boot-table tbody tr:nth-child(4) td {
                padding-top: 10px;
            }

            #pci-table {
                border: 0;
                width: 100%;
            }

            #session-8 .tui-fieldset {
                border: 0;
            }

            #pci-table tbody tr td {
                border-right: 0;
            }
            #pci-table tbody tr td {
                text-align: center;
            }
            /* #pci-table tbody tr td {
                padding-left: 12px;
            } */
            #pci-table tbody tr:nth-child(1) {
                border-bottom: 1px solid white;
            }
            #pci-table tbody tr:nth-child(1) td {
                padding-bottom: 10px;
            }
            #pci-table tbody tr:nth-child(2) td {
                padding-top: 10px;
            }
            /* #boot-table tbody tr td:nth-child(1), #boot-table tbody tr td:nth-child(4) {
                max-width: 120px;
            }
            #boot-table tbody tr td:nth-child(3) {
                max-width: 180px;
            } */
            #scandisk-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            #scandisk-subheader {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 18px;
            }
        </style>
    </head>
    <body class="tui-bg-blue-black" style="line-height: 1.1em">
        <div
            id="startup"
            class="tui-screen-1024-768 black white-text"
            style="padding: 2px"
        >
            <div id="session-0">
                <img
                    src="https://cdn.jsdelivr.net/npm/tuicss@2.1.2/examples/resources/pcstartup1.png"
                    width="40px"
                    height="40px"
                    style="float: left"
                    alt="Award logo"
                />
                <img
                    src="https://cdn.jsdelivr.net/npm/tuicss@2.1.2/examples/resources/pcstartup2.png"
                    width="200px"
                    height="150px"
                    style="float: right"
                    alt="Energy Star logo"
                />
                <div style="margin-top: 4px"></div>
                Raspberry Pi Kernel {{ kernel_version }}, An Energy Star Ally<br />
                Copyright (C) 2012-2024, Raspberry Pi Foundation & Broadcom.<br />
                <br />
                <!-- prettier-ignore -->
                {{ model_name }} Kernel Version {{ kernel_version }}
                <br />
                <br />
                <!-- prettier-ignore -->
                Broadcom(R) BCM2711 {{ cpu_brand }} ({{ cpu_count }}) {{ cpu_speed }} MHz
                <br />
                <!-- TODO: Handle memory test -->
                <span id="memoryTest">Memory Test : &nbsp;&nbsp;</span>
                <br />
                <br />
                <br />
                <div id="session-1" style="visibility: hidden">
                    Award Plug and Play BIOS Extension v1.0A<br />
                    Initialize Plug and Play Cards...<br />
                    PNP init Completed<br />
                    <br />
                </div>
                <div id="session-2" style="visibility: hidden">
                    Detecting Primary Master .....: Boot EEPROM<br />
                </div>
                <div id="session-3" style="visibility: hidden">
                    <!-- TODO: Handle SD, sysinfo just returns ext4 -->
                    Detecting Primary Slave ......: SanDisk SD<br />
                </div>
                <div id="session-4" style="visibility: hidden">
                    Detecting Secondary Master ...: Skip<br />
                    Detecting Secondary Slave ....: None
                </div>
                <div class="tui-statusbar absolute black white-text">
                    <ul>
                        <li style="margin-left: 0px">
                            Press
                            <b>DEL</b>
                            to enter SETUP, <b>Alt+F2</b> to enter EZ flash
                            utility
                        </li>
                    </ul>
                    <ul>
                        <li style="margin-left: 0px">
                            12/05/2023-04/BCM2711/RPI4B-UEFI-{{ version }}
                        </li>
                    </ul>
                </div>
            </div>
            <div id="session-6" style="visibility: hidden">
                <br />
                <div style="text-align: left; background-color: black">
                    <fieldset class="tui-fieldset" style="padding: 12px 0">
                        <table
                            id="boot-table"
                            class="tui-table"
                            style="border: 0; width: 100%"
                        >
                            <tbody>
                                <tr>
                                    <td>CPU Type</td>
                                    <td>:</td>
                                    <td>{{ cpu_brand_short }}</td>
                                    <td>Base Memory</td>
                                    <td>:</td>
                                    <td>1048576K</td>
                                </tr>
                                <tr>
                                    <td>Co-Processor</td>
                                    <td>:</td>
                                    <td>Installed</td>
                                    <td>Extended Memory</td>
                                    <td>:</td>
                                    <td>{{ extended_memory }}K</td>
                                </tr>
                                <tr>
                                    <td>CPU Clock</td>
                                    <td>:</td>
                                    <td>{{ cpu_speed }}MHz</td>
                                    <td>Cache Memory</td>
                                    <td>:</td>
                                    <td>80K L1, 1.0M L2</td>
                                </tr>
                                <tr>
                                    <td>Diskette Drive A</td>
                                    <td>:</td>
                                    <td>None</td>
                                    <td>Display Type</td>
                                    <td>:</td>
                                    <td>HDMI</td>
                                </tr>
                                <tr>
                                    <td>Diskette Drive B</td>
                                    <td>:</td>
                                    <td>None</td>
                                    <td>Serial Port(s)</td>
                                    <td>:</td>
                                    <td>14 (TXD), 15 (RXD)</td>
                                </tr>
                                <tr>
                                    <td>Pri. Master Disk</td>
                                    <td>:</td>
                                    <td>EEPROM ,Mode 2, 512KB</td>
                                    <td>Parallel Port(s)</td>
                                    <td>:</td>
                                    <td>None</td>
                                </tr>
                                <tr>
                                    <td>Pri. Slave Disk</td>
                                    <td>:</td>
                                    <td>
                                        SD ,Mode 4, {{ primary_disk_size }}GB
                                    </td>
                                    <td>EDO DRAM at Row(s)</td>
                                    <td>:</td>
                                    <td>None</td>
                                </tr>
                                <tr>
                                    <td>Sec. Master Disk</td>
                                    <td>:</td>
                                    <td>None</td>
                                    <td>SDRAM at Row(s)</td>
                                    <td>:</td>
                                    <td>0 1 2 3 4</td>
                                </tr>
                                <tr>
                                    <td>Sec. Slave Disk</td>
                                    <td>:</td>
                                    <td>None</td>
                                    <td>L2 Cache Type</td>
                                    <td>:</td>
                                    <td>Data, Instruction</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <br />
                <br />
                <br />
                <span id="session-7" style="visibility: hidden">
                    PCI device listing.....
                </span>
                <div
                    id="session-8"
                    style="
                        text-align: left;
                        background-color: black;
                        visibility: hidden;
                    "
                >
                    <fieldset class="tui-fieldset" style="padding: 12px 0">
                        <table id="pci-table" class="tui-table">
                            <tbody>
                                <tr>
                                    <td>Bus No.</td>
                                    <td>Device No.</td>
                                    <td>Func No.</td>
                                    <td>Vendor ID</td>
                                    <td>Device ID</td>
                                    <td>Device Class</td>
                                    <td>IRQ</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>7</td>
                                    <td>1</td>
                                    <td>0086</td>
                                    <td>1230</td>
                                    <td>IDE Controller</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td>17</td>
                                    <td>0</td>
                                    <td>1274</td>
                                    <td>1371</td>
                                    <td>Multimedia Device</td>
                                    <td>11</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <br />
                <br />
                <span id="session-9" style="visibility: hidden">
                    Verifying DMI Pool Data ......
                </span>
                <br />
                <span id="session-10" style="visibility: hidden">
                    Starting Raspberry Pi OS.....
                </span>
            </div>
        </div>
        <div
            id="scandisk"
            class="tui-screen-1024-768 bordered blue-168 cyan-255-text"
            style="padding: 40px; display: none"
        >
            <div id="scandisk-header">
                <span>{{ model_name }}</span>
                <span id="uptime">Uptime: 0 hours</span>
            </div>
            <div id="scandisk-subheader">
                <span id="process_count">Process Count: 0</span>
                <span id="rx_tx">RX/TX: 0MB/0MB</span>
            </div>
            <br />
            <span class="tui-divider cyan-255-border"></span>
            <br />
            <div
                style="
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                "
            >
                <pre>
                                     [GPIO]                   [PoE]       ___________________
            _____________________________________________________________│\                  \
           |\      --║-║-║-║-║-║-║-║-║-║-║-║-║-║-║-║-║-║-║-║--           │ \    [ETHERNET]    \
            \\      \ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ ║ \ --║-║--  │  \__________________\
             \\   \¯¯¯¯¯¯¯¯\¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯ \ ║ ║ \ \  │    ______________|_
              \\   \ [WIFI] \    ______________   _________       ------- \ │   │\               \
               \\  │\\       \   \             \  \        \      ______   \│___│ \   [USB 3.0]   \
                \\ │ \\‗‗‗‗‗‗‗\   \     [CPU]   \  \  [RAM] \     \     \       │  \_______________\
                _\\ \ \\           \             \  \        \     \ ‗‗‗‗\      \  │ ______________|_
               \\ \\ \ \\           \ ‗‗‗‗‗‗‗‗‗‗‗‗\  \ ‗‗‗‗‗‗‗\  _   ______      \ ││\               \
[MICRO SD CARD] \\ \\ \ ║  [DSI DP]                             │\\  \     \      \││ \   [USB 2.0]   \
                 \\‗\\ \║\                                      │ \\  \ ‗‗‗‗\       │  \_______________\
                     \\                                          \ \\  │\¯¯¯¯¯¯\    \  │        &lt;====| │
                      \\       __________     _______     _______ \ \\ │ \      \    \ │        &lt;====| │
                       \\     │\         \   │\      \   │\      \ \ ║  \ \  ___ \    \│_______________│
                        \\_____\\ ‗‗‗‗‗‗‗‗\___\\ ‗‗‗‗‗\___\\ ‗‗‗‗‗\_\║\__\ │/   \│___________________\
                         └──────\│‗‗‗‗‗‗‗‗│────\\‗‗‗‗‗/────\\‗‗‗‗‗/───────\│\___/│───────────────────┘
                                                                           ¯¯¯¯¯¯¯
                                    [USB-C]          [MICRO HDMI]            [AUDIO]
                                                                    [CSI CAMERA]
        </pre
                >
            </div>
            <br />
            <span class="yellow-255-text">C</span>PU.......: Broadcom BCM2711,
            <!-- prettier-ignore -->
            {{ cpu_brand }} ({{ cpu_arch }}) SoC @ {{ cpu_speed }} MHz
            <br />
            <!-- prettier-ignore -->
            <!-- eslint-disable-next-line prettier/prettier -->
            <span class="yellow-255-text">R</span>AM.......:
            <!-- prettier-ignore -->
            <!-- eslint-disable-next-line prettier/prettier -->
            {{ rounded_memory }}GB LPDDR4-3200 SDRAM
            <br />
            <!-- prettier-ignore -->
            <!-- eslint-disable-next-line prettier/prettier -->
            <span class="yellow-255-text">S</span>torage...:
            <!-- prettier-ignore -->
            <!-- eslint-disable-next-line prettier/prettier -->
            {{ primary_disk_size }}GB Micro SD Card
            <br />
            <span class="yellow-255-text">W</span>IFI......: 2.4 GHz and 5.0 GHz
            IEEE 802.11ac wireless, Bluetooth 5.0, BLE
            <br />
            <span class="yellow-255-text">P</span>ower.....: 5V DC via USB-C
            connector (minimum 3A*)
            <br />
            <span class="yellow-255-text">P</span>oE.......: Power over Ethernet
            (PoE) enabled (requires separate PoE HAT)
            <br />
            <span class="yellow-255-text">O</span>S........: {{ os_version }}
        </div>
        <script>
            // @ts-check
            // https://code.visualstudio.com/docs/nodejs/working-with-javascript#_intellisense
            "use strict";

            const eventSource = new EventSource("sse");

            /**
             * @param {MessageEvent<String>} event
             */
            eventSource.onmessage = (event) => {
                const [rx, tx, process_count, uptime] = event.data.split(", ");
                // prettier-ignore
                check(document.getElementById("uptime")).innerHTML = `Uptime: ${Math.round(parseInt(uptime) / 60 / 60)} hours`;
                // prettier-ignore
                check(document.getElementById("process_count")).innerHTML = `Process Count: ${process_count}`;
                // prettier-ignore
                check(document.getElementById("rx_tx")).innerHTML = `RX/TX: ${Math.round(parseInt(rx) / 1_000_000)}MB/${Math.round(parseInt(tx) / 1_000_000)}MB`;
            };

            function timeout(ms) {
                return new Promise((resolve) => setTimeout(resolve, ms));
            }

            function check(arg) {
                if (arg == null) {
                    throw new Error("check failed, arg is null/undefined");
                }
                return arg;
            }

            function showSession(id) {
                const session = document.getElementById(id);
                check(session).style.visibility = "visible";
            }

            function exitBoot() {
                const startup = document.getElementById("startup");
                const scandisk = document.getElementById("scandisk");
                check(startup).style.display = "none";
                check(scandisk).style.display = "block";
            }

            async function memoryTest() {
                // 4194304 OK
                const memoryTest = document.getElementById("memoryTest");

                const totalMemory = parseInt("{{ total_memory }}") / 1_000;
                const memoryChunk = Math.round(totalMemory / 100);

                // prettier-ignore
                for (let memory = 0; memory < totalMemory; memory += memoryChunk) {
                    // prettier-ignore
                    check(memoryTest).innerHTML = `Memory Test : &nbsp;&nbsp; ${memory}K`;
                    await timeout(1);
                }

                // prettier-ignore
                check(memoryTest).innerHTML = `Memory Test : &nbsp;&nbsp; ${Math.round(totalMemory)}K OK`;
            }

            window.onload = async function () {
                // prettier-ignore
                check(document.getElementById("uptime")).innerHTML =
                    `Uptime: ${Math.round(parseInt("{{ uptime }}") / 60 / 60)} hours`;
                // prettier-ignore
                check(document.getElementById("process_count")).innerHTML =
                    `Process Count: ${parseInt("{{ process_count }}")}`;
                // prettier-ignore
                check(document.getElementById("rx_tx")).innerHTML =
                    `RX/TX: ${Math.round(parseInt("{{ rx }}") / 1_000_000)}MB/${Math.round(parseInt("{{ tx }}") / 1_000_000)}MB`;

                await memoryTest();
                await timeout(300);
                showSession("session-1");
                await timeout(100);
                showSession("session-2");
                await timeout(50);
                showSession("session-3");
                await timeout(420);
                showSession("session-4");
                await timeout(800);
                // prettier-ignore
                check(document.getElementById("session-0")).style.display = "none";
                await timeout(500);
                showSession("session-6");
                await timeout(500);
                showSession("session-7");
                await timeout(800);
                showSession("session-8");
                await timeout(500);
                showSession("session-9");
                await timeout(1200);
                showSession("session-10");
                await timeout(1000);
                exitBoot();
            };
        </script>
    </body>
</html>
