:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scandisk-button {
  background-color: rgb(80, 80, 80);
  color: rgb(168, 168, 168);
  margin-right: 20px;
}
#boot-table tbody tr td {
  border-right: 0;
}
#boot-table tbody tr td {
  padding-left: 12px;
}
#boot-table tbody tr:nth-child(3) {
  border-bottom: 1px solid white;
}
#boot-table tbody tr:nth-child(3) td {
  padding-bottom: 10px;
}
#boot-table tbody tr:nth-child(4) td {
  padding-top: 10px;
}

#pci-table {
  border: 0;
  width: 100%;
}

#session-8 .tui-fieldset {
  border: 0;
}

#pci-table tbody tr td {
  border-right: 0;
}
#pci-table tbody tr td {
  text-align: center;
}
/* #pci-table tbody tr td {
  padding-left: 12px;
} */
#pci-table tbody tr:nth-child(1) {
  border-bottom: 1px solid white;
}
#pci-table tbody tr:nth-child(1) td {
  padding-bottom: 10px;
}
#pci-table tbody tr:nth-child(2) td {
  padding-top: 10px;
}
/* #boot-table tbody tr td:nth-child(1), #boot-table tbody tr td:nth-child(4) {
  max-width: 120px;
}
#boot-table tbody tr td:nth-child(3) {
  max-width: 180px;
} */
